body{
  font-family: sans-serif;
  background-color: #696764;
  
}
h1{text-align: center;
     font-size: 50px;
}
h2{font-size: 20px;
   color: #781c1c;
   text-align: center;
}
h3{font-size: 20px;
   color: #781c1c;
   text-align: center;
}
h4{font-size: 20px;
   color: #781c1c;
   text-align: center;
}
h5{font-size: 20px;
   color: #781c1c;
   text-align: center;
}
h6{
    text-align: center;
}
iframe{
}

img{
    width: 300px;
}
